#GIT
.gitignore

# Ignorar arquivos de ambiente e de configuração local
.env

# Ignorar arquivos de banco de dados
*.duckdb
*.db

# Ignorar arquivos de dados
*.csv
*.json

# Ignorar arquivos .parquet
*.parquet

# Ignorar pastas de ambiente virtual
venv/
